
.timer .timer-label {
      margin-bottom: 5px;
      color: #999;
  }

.timer .timer-label span {
      font-size: 16px;
      font-weight: normal;
}

.timer .timer-clock {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 10px solid #888;
      color: #333;
      margin: 0 auto 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6px 11px 2px #968b8b;
      background: #fff;
}

.timer span {
      font-size: 50px;
      font-weight: bold;
  }
.timer .btn {

}

