.pomoDoro {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: #fff;
  border: none;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 8px 15px;
  min-width: 90px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-primary {
   background: #2196f3;
}

.btn-secondary {
   background: #838883;
}

.btn:hover {
   opacity: 0.8;
 }
